<div class="panel panel-default" style="width: 450px;">
  <div class="panel-heading">
    <div class="panel-title">
      Attachment
    </div>
  </div>

  <div class="panel-body">
    <form class="form-inline">
      Client will upload a file to AssetFetch.

      <hr>

      <strong>Restrictions </strong><br>

      <span style="line-height: 35px;">
        <input type="checkbox"> Dimensions
      </span>
      <span class="pull-right text-muted" style="display: inline-block;">
        Height
        <input type="text" class="form-control" style="margin-right: 5px; width: 60px;">
        Width
        <input type="text" class="form-control" style="width: 60px;">
      </span>

      <br><br>

      <span style="line-height: 35px;">
        <input type="checkbox"> File Size
      </span>
      <span class="pull-right text-muted" style="display: inline-block;">
        Megabytes
        <input type="text" class="form-control" style="width: 60px;">
      </span>

      <br><br>

      <span style="line-height: 35px;">
        <input type="checkbox"> Accepted Formats
      </span>
      <span class="pull-right text-muted" style="display: inline-block;">
        <input type="text" class="form-control text-right" style="width: 200px;">
      </span>

    </form>
  </div>
</div>