<div class="panel panel-default" style="width: 450px;">
  <div class="panel-heading">
    <div class="panel-title">
      Automated Followup
    </div>
  </div>

  <div class="panel-body">
    <form class="form-inline">
      Send client a reminder every

      <select class="form-control" style="display: inline-block; width: 75px; margin: 0 5px;">
        <option>day</option>
        <option>2 days</option>
        <option>3 days</option>
      </select>
      at
      <select class="form-control" style="display: inline-block; width: 75px; margin: 0 5px;">
        <option>9AM</option>
        <option>10AM</option>
        <option>11AM</option>
        <option>12PM</option>
        <option>1PM</option>
        <option>2PM</option>
        <option>3PM</option>
        <option>4PM</option>
        <option>5PM</option>
        <option>6PM</option>
        <option>7PM</option>
        <option>8PM</option>
      </select>

      <br><br>

      <strong>Email Preview</strong><br>

      <hr>

      <div style="width: 420px; font-style: italic;">
        Subject: AssetFetch Reminder: Assets due in 5 days <br><br>

        Hey Bill,<br><br>

        We wanted to remind you that there are still some assets missing
        for your upcoming Facebook ad campaign. <br><br>

        You can drop everything here: <a href="#">http://assetfetch.com/drop/2ae4</a>
        <br><br>

        Thanks a lot!<br><br>

        Stephanie<br>
        <strong>Sales Manager</strong>
      </div>

      <hr>

      <button class="btn btn-primary pull-right">Set Reminder</button>
    </form>
  </div>
</div>