<div class="panel panel-default" style="width: 450px;">
  <div class="panel-heading">
    <div class="panel-title">
      Search
    </div>
  </div>

  <div class="panel-body">
    <form class="form-inline">
      <label>
        Search for clients, projects, and attachments.
      </label>
      <input type="text" class="form-control pull-left" value="nike" style="width: 75%;" />
      <button class="pull-right btn btn-primary" style="width: 20%;">Search</button>

      <div class="clearfix"></div>

      <hr>

      <strong>Clients matching "nike"</strong><br>
      <ul>
        <li> <a href="#">Nike</a></li>
      </ul>
      <br>

      <strong>Project matching "nike"</strong><br>
      <ul>
        <li><a href="#">Nike Air Jordan FB Campaign</a></li>
        <li><a href="#">Nike Fuel Band Summer FB Campaign</a></li>
        <li><a href="#">Niketown Soho Opening</a></li>
      </ul>
      <br>

      <strong>Attachments matching "nike"</strong>
      <ul>
        <li><a href="#">nike_logo_big.png</a></li>
        <li><a href="#">nike_fuelband_fb_banner.png</a></li>
        <li><a href="#">nike_fuelband_fb_banner_small.png</a></li>
        <li><a href="#">niketown_large.png</a></li>
      </ul>
    </form>
  </div>
</div>