<div class="panel panel-default" style="width: 450px;">
  <div class="panel-heading">
    <div class="panel-title">
      Create Template
    </div>
  </div>

  <div class="panel-body">
    Save time by creating a template for projects with similar
    requirements.

    <hr>

    <div class="form-group">
      <label>Name</label><br>
      <input type="text" class="form-control" value="Facebook Feed Campaign" />
    </div>

    <div class="form-group">
      <label>Items</label><br>
      <ul>
        <li>
          Headline <a href="#" class="pull-right">(edit)</a>
          <div class="text-muted">
            Maximum Length: 50 characters
            <br><br>
          </div>
        </li>
        <li>
          Text Blurb <a href="#" class="pull-right">(edit)</a>
          <div class="text-muted">
            Maximum Length: 300 characters
            <br><br>
          </div>
        </li>

        <li>
          Image Thumbnail <a href="#" class="pull-right">(edit)</a>
          <div class="text-muted">
            Dimensions: 100px by 72px<br>
            File Size: Up to 2MB<br>
            Background Color: Red
            <br><br>
          </div>
        </li>

          <button class="btn-sm btn btn-info">Add Item</button>
      </ul>
    </div>

    <hr>

    <button class="btn btn-primary pull-right">Save Template</button>
  </div>
</div>