<!--  Signup -->
<!-- Button: "Get Early Access" -->
<!--
  HEADER: Get Early Access

  We're working with early users to give them the best
  possible experience. Want to learn more? Sign up here.
-->

<div class="hero-wrapper row text-center">
  <div class="hero-big">
    Collect and track client assets. Easily.
    <!-- Client asset collection and tracking, simplified. -->
    <!-- Painless client asset collection. -->
  </div>

  <div class="hero-small">
    We make it dead simple to collect client assets for ad campaigns, agency projects, customer onboarding, and more.
  </div>
</div>

<div class="feature checklist row">
  <div class="col-md-5">
    <div class="feature-text">
      <h2>
        No more endless emails, oversized attachments, and forgetful clients.
      </h2>
      <p>
        Send your clients a simple, clear checklist of
        which assets they need to provide for your next project
        or campaign. We'll take care of the rest.
      </p>
    </div>
  </div>

  <div class="feature-image-collage feature-image col-md-6 col-md-offset-1">
    <img class="oversized-attachment" src="http://dl.dropbox.com/u/8672882/Screenshots/bcbf.png" />
    <img class="long-email-thread" src="http://dl.dropbox.com/u/8672882/Screenshots/w8fc.png" />
    <img class="inbox-count" src="http://dl.dropbox.com/u/8672882/Screenshots/-0du.png" />

  </div>
</div>

<div class="get-early-access-wide row text-center">
  <h3>We've got your back.</h3>
  <p>
    We're building AssetFetch to help you get assets<br>
    from your clients without getting a headache.
  </p>
  <br>
  <button class="btn btn-lg btn-success">Get Early Access</button>
</div>

<div class="feature checklist row">
  <div class="col-md-4 col-md-offset-1">
    <div class="feature-image">
      <img src="http://cl.ly/image/3S2O0G2g161j/Screen%20Shot%202013-10-24%20at%2010.50.28%20AM.png" style="border: none;">
    </div>
  </div>

  <div class="col-md-4 col-md-offset-1">
    <div class="feature-text">
      <h2>Automated followups</h2>
      <p>
        Stop wasting time reminding the client to send everything in,
        we'll do it for you. You can even set the frequency.
      </p>
    </div>
  </div>
</div>
<div class="feature checklist row">
  <div class="col-md-4 col-md-offset-1">
    <div class="feature-text">
      <h2>Attachments, smarter</h2>
      <p>
        Need the logo to be 500 by 500? In PNG format? Set sizing and
        format guidelines and we'll make sure the client follows them.
        We handle all file formats and sizes.
      </p>
    </div>
  </div>

  <div class="col-md-4 col-md-offset-1">
    <div class="feature-image">
      <div class="image-placeholder">
      </div>
    </div>
  </div>
</div>

<div class="feature checklist row">
  <div class="col-md-4 col-md-offset-1">
    <div class="feature-image">
      <div class="image-placeholder">
      </div>
    </div>
  </div>

  <div class="col-md-4 col-md-offset-1">
    <div class="feature-text">
      <h2>Don't repeat yourself</h2>
      <p>
        Do most of your projects have similar requirements?
        Create template and get started super fast.
      </p>
    </div>
  </div>
</div>

<div class="feature checklist row">
  <div class="col-md-4 col-md-offset-1">
    <div class="feature-text">
      <h2>Find it fast</h2>
      <p>
        Instead of having to dig through old email threads,
        we keep your assets in one place, organized by client
        and search keywords.
      </p>
    </div>
  </div>

  <div class="col-md-4 col-md-offset-1">
    <div class="feature-image">
      <div class="image-placeholder">
      </div>
    </div>
  </div>
</div>
