.hero-wrapper {
  @include text-shadow;
  @include border-radius($prefix: top-left);
  @include border-radius($prefix: top-right);
  border: solid 1px #eee;
  padding: 60px 180px;
  background-image: url("http://recurly.com/img/pricing_hero.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100%;
  color: white;
}

.hero-big {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-small {
  font-size: 24px;
  line-height: 30px;
}

.feature {
  padding: 40px 0 35px 30px;
}

.feature-text {
  padding: 25px 0;
}

.feature-image-collage {
  position: relative;

  img {
    @include border-radius(5px);
    position: absolute;
    border: solid 1px #ececec;
  }

  .oversized-attachment {
    width: 65%;
    left: -15px;
  }

  .long-email-thread {
    width: 75%;
    left: 95px;
    top: 90px;
  }

  .inbox-count {
    width: 35%;
    right: 60px;
    top: 15px;
  }
}

.feature-image img {
  width: 360px;
}

.image-placeholder {
  background-color: #fcfcfc;
  border: solid 1px #ececec;
  height: 220px;
  width: 360px;
}

.get-early-access-wide {
  padding: 90px 0 75px;
}